.item__div {
    width: 55vw;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 30px 0px auto 30px;
}

.list__div {
    width: 25vw;
    display: inline-block;
    position: relative;
    margin: 30px auto;
}

.outer__div {
    width: 100%;
    padding-top: 5px;
    text-align: center;
    animation: fade-in 2s;
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 100 }
}

@keyframes blur-in {
    from {
        filter: blur(2px);
    }
    to { 
        filter: blur(0);
    }
}