.input__form {
    width: 12%;
    padding: 10px 10px 10px 10px;
    background-color: rgb(127, 80, 172);
    border-radius: 0px;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    transition: width 0.5s ease-in-out;
    font-family: 'Inter';
}

.input__form:focus {
    width: 35%;
    color: white;
    font-family: 'Inter';
}

.input__submit {
    display: none;
}

.input__div {
    text-align: center;
    margin: 0px auto;
}

::placeholder {
    color: white;
}